@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">IdentityServer (v4.1.0)</h1>
    <p>Sunucu hakkında daha fazla bilgi almak için <a href="~/.well-known/openid-configuration">Keşif Belgesine</a> göz atın.</p>



</div>